@use '@styles/variables/_colors';

@import '@styles/theme/common';
@import '@styles/theme/forms';
@import '@styles/theme/outline';

h6 {
  margin-top: 1rem;
  font-size: 135%;
  font-weight: bold;
  text-align: center;
}

#save-all-settings-box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  padding-top: 1.2rem;
  border-top: 0;
  box-shadow: 0 0 10px 2px #0f0f0f;
  -webkit-box-shadow: 0 0 10px 2px #0f0f0f;
  background-color: map-get(colors.$colors, background-color);

  > input {
    margin-bottom: 1.2rem;
  }
}

.distance-after {
  padding-bottom: 1.5rem;
}

.distance-before {
  padding-top: 1.5rem;
}

// Our text fields are not outlined by default, otherwise they would be blue
// This is a workaround to make them look like they are outlined in error cases
input.v1 {
  border: 1px solid map-get(colors.$outlines, v1);
}

select {
  margin-bottom: 0;
  font-family: monospace;
}

.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-out 0.3s;

  &.is-open {
    max-height: 100px;
  }

  &.rem-height {
    max-height: unset;
  }

  [skip-animation] & {
    transition: none;
  }
}

#requires-anki {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-out 0.3s;

  &.is-open {
    max-height: 1000px;
  }

  &.rem-height {
    max-height: unset;
  }
}
